* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
.slider {
  position: relative;
  width: 790px;
  height: 340px;
  margin: 100px auto;
}
.slider-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider-list-item {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider-list-item.first {
  display: block;
}
.slider-list-item a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-list-item a img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-indicator {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-size: 0;
  border-radius: 10px;
}
.slider-indicator-btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-color: #f00;
  border-radius: 100%;
}
.slider-indicator-btn.active {
  background-color: #00f;
}
.slider-control {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 30px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.slider-control:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.slider-control-prev {
  left: 0;
}
.slider-control-next {
  right: 0;
}
